[Unit]
Description=Katty web application
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/katty/katty.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
