{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link href= "{{ url_for('static',filename='css/gallery_motiontracker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Katty - Gallery{% endblock %}
{% block content %}
<div class="container">

	{% for image in gallery %}

		<div class="img-with-text">
			<img src="{{ url_for('static', filename='pics/motiontracker/' + image) }}" alt="{{ image }}">
			<p>{{ image }}</p>
		</div>

	{% endfor %}

</div>
{% endblock %}
